<div class="container-fluid">

    <div class="custom-card">
  
      <div class="text-center mb-4">
        <img  alt="user-avatar" class="user-avatar"/>
      </div>
  
      <p class="mb-2">
        <span class="font-weight-bold">Name: </span>
      </p>
  
      <p class="mb-2">
        <span class="font-weight-bold">Email: </span>
      </p>
  
  
  
  
      <button class="btn btn-block btn-danger mt-4" >Sign out</button>
  
    </div>
  
  </div>
  
  <p>dashboard works!</p>

  <div>
  
 
  